body {
    background-color: #9ACD32;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    font-size: 24px;
}

h4 {
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}

li,
li span {
    margin: 10px;
}

.cross {
    color: red;
}

.arrow {
    color: blue;
}